.jumbotron {
  padding-top: 6rem;
  background: url("project/bg.jpg");
  background-size: cover;
}

#project {
  background-color: #66c2ff;
}

section {
  padding-top: 6rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
